.header {
  position: absolute;
  top: 5%;
  width: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.03) 0%, rgba(59, 59, 59, 0.27) 51.27%, rgba(115, 115, 115, 0) 100%);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 3rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.nav_links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.nav_link:link,
.nav_link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.6rem;
  letter-spacing: 0.01rem;
  transition: all 0.3s;
}

.nav_link:hover,
.nav_link:active {
  color: var(--primary-color);
}

.header_search{
  height: 1.4rem;
}

.header_menu{
  height: 1.6rem;
  margin-top: 0.4rem;
}