/* Dropdown.module.css */
.dropdown {
    position: relative;
    width: auto;
  }
  
  .label {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--muted-text-color);
    margin-bottom: 0.4rem;
    display: block;
  }
  
  .dropdownHeader {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .placeholder {
    color: #000;
    font-size: 1.3rem;
    font-weight: 700;
  }
  
  .dropdownList {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1;
  }
  
  .dropdownItem {
    padding: 10px;
    cursor: pointer;
  }
  
  .dropdownItem:hover {
    background-color: #f0f0f0;
  }
  
  .arrow {
    margin-left: 10px;
    font-size: 12px;
    color: #777;
  }
  