/* global.css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: "Inria Serif", serif;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

.text-center {
    text-align: center;
}

button {
    font-family: inherit;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
    font-weight: 700;
    color: var(--text-color);
    letter-spacing: -0.5px;
    width: 80%;
    margin: 0 auto;
}

.heading-primary {
    font-size: 5rem;
    line-height: 1;
    margin-bottom: 3.2rem;
}

.heading-secondary {
    font-size: 4.4rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
}

.heading-tertiary {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
}

.subheading {
    display: block;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--secondary-color);
    margin-bottom: 1.2rem;
    letter-spacing: 0.75px;
}

.description {
    font-size: 1.8rem;
    line-height: 1.6;
    width: 90%;
    color: var(--secondary-color);
    margin: 0 auto;
}

.read_more {
    padding: 2rem 0;
    font-size: 1.8rem;
    text-align: center;
    color: var(--primary-light-color);
}

.grid {
    display: grid;
    row-gap: 6.4rem;
    column-gap: 6.4rem;
    
}

.col-3 {
    grid-template-columns: repeat(3, 1fr);
}

.col-2 {
    grid-template-columns: repeat(2, 1fr);
}

.d-flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6.4rem;
}

.mb-lg {
    margin-bottom: 6rem;
}

.mb-sm {
    margin-bottom: 2rem;
}

.desktop{
    display: block;
}

.mobile{
    display: none;
}

@media (max-width: 944px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 768px) {
    html {
        /* 8px / 16 = 0.5 = 50% */
        font-size: 48%;
    }

    .heading-primary,
    .heading-secondary,
    .heading-tertiary {
        width: 100%;
    }

    .desktop{
        display: none;
    }
    
    .mobile{
        display: block;
    }
}

