.welcome_section{
    padding-top: 10rem;
    padding-bottom: 4rem;
}

.iframe_map{
    margin-top: 2rem;
    width: 100%;
    height: 40rem;
    border: none;
    border-radius: 1.8rem;
}

.restaurant_menu{
    margin-top: 2rem;
    padding: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    background-color: var(--primary-light-box-color);
}

.menu_card{
    background-color: rgba(1, 120, 54, 0.06);
    padding: 2rem;
    min-width: 25rem;
    display: flex;
    align-items: center;
    gap: 1.8rem;
    border-radius: var(--border-radius);
}

.menu_card img{
    height: 4rem;
    text-align: left;
}

.menu_card_content{
    text-align: left;
}

.menu_card_content h1{
    font-style: italic;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 0.4rem;
}

.menu_card_content p{
    font-style: italic;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primary-dark-color);
}

.attraction_section{
    padding-bottom: 2rem;
}

.attraction{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    gap: 2rem;
    position: relative;
}

.attraction img{
    width: 100%;
    height: 16rem;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.attraction img:first-child{
    height: 32rem;
}

.attraction_content{
    text-align: left;
    position: absolute;
    right: 0;
    bottom: 1rem;
    width: 60%;
    padding: 2rem;
    border-radius: var(--border-radius);
    background-color: var(--primary-light-box-color);
}

.attraction_content h2{
    font-size: 2.4rem;
    margin-bottom: 1rem;
}

.attraction_content p{
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: var(--secondary-color);
}




@media (max-width: 768px) {
    .mobile_grid{
        overflow-x: scroll;
        padding-bottom: 2rem;
    }

    .attraction{
        grid-template-columns:  1fr;

    }

    .attraction_content{
        position: relative;
        width: 100%;
    }

    .attraction_content{
        grid-row: 1;
    }

    .attraction img:nth-child(3){
        display: none;
    }
}