.event_card{
    display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 40rem;
  overflow: hidden;
}

.event_card_content{
    background-color: var(--primary-light-box-color);
    box-shadow: 2px 2px 111.9px -6px rgba(0, 0, 0, 0.1);
    text-align: left;
    padding: 4rem;
    position: absolute;
    width: 80%;
    
}

.event_card_left_content{
    left: 0;
}

.event_card_right_content{
    right: 0;
}



.event_card_image{
    width: 50%;
    position: absolute;
    z-index: -1;
    
}

.event_card_image_left{
    left: 0;
}

.event_card_image_right{
    right: 0;
}

.event_card_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
}