
.intro_ex_section{
    padding-top: 10rem;
    padding-bottom: 2rem;
}

.hotels_ex_section{
    padding-bottom: 4rem;
}

.hotels_ex_section:first-child{
    padding-top: 4rem;
}

.offer_section {
    padding-bottom: 4rem;
}

.book_info_section{
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.book_info_title {
    font-size: 3.3rem;
    font-weight: 700;
    margin-bottom: 2rem;
    width: 60%;
}

.book_info_description {
    font-size: 1.4rem;
    line-height: 1.6;
    margin-bottom: 2rem;
    width: 90%;
}

@media (max-width: 768px) {
    .book_info_title {
        width: 100%;
    }

    .mobile_grid{
        overflow-x: scroll;
        padding-bottom: 2rem;
    }
}