.footer_section{
    background: 
    linear-gradient(rgba(24, 26, 32, 0.8), rgba(24, 26, 32, 0.8)),
    url('../../../assets/images/background.png');
    background-size: cover;
    background-position: center center;
    padding: 2.4rem 0;
}



.footer_logo{
    height: 8rem;
}

.footer_description{
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: 400;
    padding: 2rem 0;
    width: 90%;
}

.footer_title{
    font-size: 1.6rem;
}

.footer_apps{
    display: flex;
    gap: 1rem;
    margin-top: 1.6rem;
    margin-bottom: 4rem;
}

.footer_app{
    background-color: #454343;
    width: 14rem;
    padding: 1rem 1.4rem;
    border-radius: 0.6rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer_app_logo{
    height: 1.8rem;
}

.footer_app_title{
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.6;
}

.footer_app_description{
    font-size: 1.2rem;
    font-weight: 700;
}

.footer_socials{
    display: flex;
    gap: 2rem;
    margin-top: 1.8rem;
}

.footer_social{
    height: 1.4rem;
}

.footer_nav{
    list-style: none;
    font-size: 1.4rem;
    line-height: 2;
    color: #BEBDBD;
    font-weight: 100;
    margin-top: 2rem;
    margin-bottom: 6rem;
}

.footer_nav li{
    cursor: pointer;
}

.footer_contact_title{
    font-size: 1.4rem;
    font-weight: 500;
    color: #BEBDBD;
    line-height: 1.6;
}

.footer_contact_number{
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    line-height: 1.6;
}

.copyright_section{
    background-color: #181A20;
    color: #BEBDBD;
}

.copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

.copyright ul{
    list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}



.footer{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 5vw);
    color: #fff;
    grid-gap: 15px;
}

.footer_about{
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;

}

.footer_nav_list{
    width: 100%;
    height: 100%;
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 6;

}

.footer_apps_col{
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 6;
}

.footer_social_col{
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7;
}

.footer_contact_col{
    width: 100%;
    height: 100%;
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 7;
}

.mobile_app{
    display:none;
}



@media (max-width: 768px) {
    .footer{
        text-align: center;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 12rem 8rem 50rem 24rem;
        color: #fff;
        grid-gap: 15px;
        position: relative;
    }

    .footer_contact_col{
        width: 100%;
        height: 100%;
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .footer_social_col{
        width: 100%;
        height: 100%;
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .footer_nav_list{
        width: 100%;
        height: 100%;
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    
    .footer_about{
        width: 100%;
        height: 100%;
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 4;
        grid-row-end: 5;
    
    }
    
    .mobile_app{
        display:block;
    }
    
    .footer_apps_col{
        display: none;
        
    }
    
    
    
    

    .mobile_grid_col_3{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        row-gap: 0.1rem;
    }

    .mobile_grid_col_2{
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .footer_apps{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer_socials{
        display: flex;
        justify-content: center;
    }

    .footer_description{
        width: 100%;
    }

    .copyright{
        display: grid;
        row-gap: 2rem;
        justify-content: center;
        text-align: center;
    }

    .copyright p{
        grid-row: 2;
    }

    .copyright ul{
        grid-row: 1;
    }
}